html {
    font-family: 'Crimson Text', serif;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    background-color: cornflowerblue;
}

h1 {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 5px;
}

h4 {
    font-size: 1em;
    margin-top: 5px;
    line-height: 2px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

h5 {
    margin-top: 5px;
    font-size: .9em;
    color: lightblue;
}

h2 {
    margin-bottom: 20px;
    margin-top: 100px;
    font-size: 2em;
}

h3.semibold {
    font-weight: 600;
}

h3.bold {
    font-weight: 700;
}

h3.italic {
    font-style: italic;
}

h3.three {
    letter-spacing: .3em;
}

h3.zerosix {
    letter-spacing: -.06em;
}

h3.underline {
    text-decoration: underline;
}

h3.line-through {
    text-decoration: line-through;
}

h3.overline {
    text-decoration: overline;
}

h3.uppercase {
    text-transform: uppercase;
}

h3.lowercase {
    text-transform: lowercase;
}

h3.capitalize {
    text-transform: capitalize;
}